$primary-color:#444;
$white:#fff;
$secondary-color:#eece1a;
$show-home-image: true;
$home-image:url('../img/background.jpg');
$background-opacity:0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg_img {
            background: $home-image no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        } 
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background:$primary-color;
            z-index: -1;
            opacity: $background-opacity;

        }

        .portrait {
            width: 150px;
            height: 150px;
            border: 3px solid $secondary-color;
            border-radius: 50%;
            background: url('../img/portrait.jpg') no-repeat ;
            background-size: cover;
            background-position: center;

        }
    }    
}
