@import 'config';
@import 'menu';
@import 'mobile';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
    width: 100vw;
    min-height: 100vh;
}

body {
    @include background();
    background: $primary-color;
    color: set-text-color(rgb(78, 78, 119));
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $white;
}
//headings
h1,
h2,
h3 {
    font-weight: 400;

    &.lg_heading {
        font-size: 6rem;
    }

    .text_secondary {
        color: $secondary-color;
    }
    
    &.sm_heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1 rem;
        background: rgba(lighten($primary-color,2),0.5);
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

main {
    padding: 4rem;
    // min-height: calc(100vh-60px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }

        }
    }
}

//about
.about_info {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    'bioimage bio'
    'job1 job2 job3';
    grid-template-columns: repeat(1fr);

    .info {
        display: flex;
        justify-content: space-around;

        .bio {
            width: 60%;
        }
    }

    .jobs {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }

    .bio_image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: 3px solid $secondary-color;
    }
    
    .bio {
        
        margin-top: 5%;
        grid-area: bio;
        font-size: 1.5rem;

        
        .text_secondary {
            color: $secondary-color;
        }
    }
    
    .job1 {
        grid-area: job1;
    }
    
    .job2 {
        grid-area: job2;
    }
    
    .job3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 1rem;
        border-bottom: $secondary-color 5px solid;
        margin: auto;
        margin-bottom: 5%;
        line-height: 1.8;
        min-height: 40vh;
    }
}

#main_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: darken($primary-color,10);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
}

//work
.projects {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    .item {
        width: 30%;
        margin: auto;
        // border: 5px solid red;

        img {
            width: 100%;
        }

        a {
            display: block;
            &.ligth {
                background: $white;
                color: $primary-color;
            }

            &.dark {
                background: $primary-color;
                color: $white;
            }
        }
        
    }


}


